<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-content-header
    [title]="title"
    [item]="item"
    [itemActive]="itemActive"
  ></app-content-header>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <!-- Search Input -->
      <div class="row mb-3">
        <div class="col-md-4">
          <input
            type="text"
            pInputText
            placeholder="Search"
            (input)="applyFilterGlobal($event)"
            class="form-control"
          />
        </div>
      </div>

      <!-- Data Table with Pagination and Search -->
      <p-table
        #table
        [value]="users()"
        paginator
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['id', 'name', 'role_id', 'role_name', 'status']"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Status</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.role_id }}</td>
            <td>{{ user.role_name }}</td>
            <td>{{ user.status }}</td>
          </tr>
        </ng-template>

        <!-- Pagination Footer -->
        <ng-template pTemplate="paginatorleft">
          <div>Total Records: {{ users().length }}</div>
        </ng-template>
      </p-table>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
